<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="test"
         connectionString="Data Source=localhost;Database=reactiveetl;Integrated Security=true;"
         providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add name="input"
         connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;"
         providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add name="advwrk"
         connectionString="Data Source=localhost;Database=AdventureWorksDW;Integrated Security=true;"
         providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add name="output"
         connectionString="Data Source=localhost;Database=McnCommerceTests;Integrated Security=true;"
         providerName="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </connectionStrings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\\Projets\\ReactiveETL\\Logs\\rolling-log.txt" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="4MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[ETLStart]&#xD;&#xA;" />
        <footer value="[ETLStop]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorsLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\\Projets\\ReactiveETL\\Logs\\errors.log"/>
      <appendToFile value="false"/>
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true"/>
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%M] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ErrorsLogFileAppender" />
    </root>
  </log4net>
</configuration>